// 主题
$xtxColor:#27BA9B;
// 辅助
$helpColor:#E26237;
// 成功
$sucColor:#1DC779;
// 警告
$warnColor:#FFB302;
// 价格
$priceColor:#CF4444;

// 鼠标移上去后的阴影效果
.hover-shadow { 
    transition: all .8s;
    &:hover { 
        transform: translateY(-8px);
        box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.2);
    }
}